USE [master]
GO
/****** Object:  Database [EduSyncProjectDB]    Script Date: 5/16/2025 2:08:01 PM ******/
CREATE DATABASE [EduSyncProjectDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EduSyncProjectDB', FILENAME = N'D:\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EduSyncProjectDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EduSyncProjectDB_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EduSyncProjectDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EduSyncProjectDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EduSyncProjectDB]
GO
/****** Object:  Table [dbo].[Assessment]    Script Date: 5/16/2025 2:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assessment](
	[AssessmentId] [uniqueidentifier] NOT NULL,
	[CourseId] [uniqueidentifier] NULL,
	[Title] [varchar](200) NOT NULL,
	[Questions] [nvarchar](max) NULL,
	[MaxScore] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AssessmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 5/16/2025 2:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[CourseId] [uniqueidentifier] NOT NULL,
	[Title] [varchar](100) NOT NULL,
	[Description] [varchar](100) NULL,
	[InstructorId] [uniqueidentifier] NULL,
	[MediaUrl] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Result]    Script Date: 5/16/2025 2:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Result](
	[ResultId] [uniqueidentifier] NOT NULL,
	[AssessmentId] [uniqueidentifier] NULL,
	[UserId] [uniqueidentifier] NULL,
	[Score] [int] NULL,
	[AttemptDate] [datetime] NULL,
 CONSTRAINT [PK_Result] PRIMARY KEY CLUSTERED 
(
	[ResultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserModel]    Script Date: 5/16/2025 2:08:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserModel](
	[UserId] [uniqueidentifier] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Role] [varchar](20) NULL,
	[PasswordHash] [varchar](225) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Assessment] ([AssessmentId], [CourseId], [Title], [Questions], [MaxScore]) VALUES (N'63f3bffc-0583-4d83-b900-34f7d7c072c0', N'cb771ba6-2332-f011-9e77-588a5a1243e3', N'Test Assessment 1', N'Questions related to Asp DotNet Core', 100)
GO
INSERT [dbo].[Course] ([CourseId], [Title], [Description], [InstructorId], [MediaUrl]) VALUES (N'cb771ba6-2332-f011-9e77-588a5a1243e3', N'Test Course 1', N'It is a test course for database and api testing', N'db305da3-a288-4bb4-ba3b-36538ef83866', N'https://fjdskhfisdhgspgdgds.co.in')
GO
INSERT [dbo].[Result] ([ResultId], [AssessmentId], [UserId], [Score], [AttemptDate]) VALUES (N'a9d843e3-2432-f011-9e77-588a5a1243e3', N'63f3bffc-0583-4d83-b900-34f7d7c072c0', N'f74a8aef-82b2-4ad5-b53c-281a9f9aefcf', 90, CAST(N'2025-05-16T07:11:57.137' AS DateTime))
GO
INSERT [dbo].[UserModel] ([UserId], [Name], [Email], [Role], [PasswordHash]) VALUES (N'f74a8aef-82b2-4ad5-b53c-281a9f9aefcf', N'Test Student 1', N'sndjsdfhldjfldkjsf@gmail.com', N'Student', N'dslkjsdkfjlsd=dnfkdsnfk@3#')
INSERT [dbo].[UserModel] ([UserId], [Name], [Email], [Role], [PasswordHash]) VALUES (N'db305da3-a288-4bb4-ba3b-36538ef83866', N'Test Instructor 1', N'insdkfndjfs@gmail.com', N'Instructor', N'sdfkdhfkd=dfjdijf@')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UserMode__A9D10534F75F0D55]    Script Date: 5/16/2025 2:08:02 PM ******/
ALTER TABLE [dbo].[UserModel] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_UserModels_Email]    Script Date: 5/16/2025 2:08:02 PM ******/
ALTER TABLE [dbo].[UserModel] ADD  CONSTRAINT [UQ_UserModels_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Assessment] ADD  CONSTRAINT [DF_Assessment_AssessmentId]  DEFAULT (newsequentialid()) FOR [AssessmentId]
GO
ALTER TABLE [dbo].[Course] ADD  CONSTRAINT [DF_Course_CourseId]  DEFAULT (newsequentialid()) FOR [CourseId]
GO
ALTER TABLE [dbo].[Result] ADD  CONSTRAINT [DF_Result_ResultId]  DEFAULT (newsequentialid()) FOR [ResultId]
GO
ALTER TABLE [dbo].[UserModel] ADD  CONSTRAINT [DF_UserModel_UserId]  DEFAULT (newid()) FOR [UserId]
GO
ALTER TABLE [dbo].[Assessment]  WITH CHECK ADD FOREIGN KEY([CourseId])
REFERENCES [dbo].[Course] ([CourseId])
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_UserModel] FOREIGN KEY([InstructorId])
REFERENCES [dbo].[UserModel] ([UserId])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_UserModel]
GO
ALTER TABLE [dbo].[Result]  WITH CHECK ADD  CONSTRAINT [FK_Result_Assessment] FOREIGN KEY([AssessmentId])
REFERENCES [dbo].[Assessment] ([AssessmentId])
GO
ALTER TABLE [dbo].[Result] CHECK CONSTRAINT [FK_Result_Assessment]
GO
ALTER TABLE [dbo].[Result]  WITH CHECK ADD  CONSTRAINT [FK_Result_UserModel] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserModel] ([UserId])
GO
ALTER TABLE [dbo].[Result] CHECK CONSTRAINT [FK_Result_UserModel]
GO
ALTER TABLE [dbo].[UserModel]  WITH CHECK ADD CHECK  (([Role]='Instructor' OR [Role]='Student'))
GO
USE [master]
GO
