 
/****** Object:  Database [EduSyncProjectDB]    Script Date: 5/16/2025 9:56:24 AM ******/
CREATE DATABASE [EduSyncProjectDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EduSyncProjectDB', FILENAME = N'D:\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EduSyncProjectDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EduSyncProjectDB_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EduSyncProjectDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
USE [EduSyncProjectDB]
GO

CREATE TABLE [dbo].[Assessment](
	[AssessmentId] [uniqueidentifier] NOT NULL,
	[CourseId] [uniqueidentifier] NULL,
	[Title] [varchar](200) NOT NULL,
	[Questions] [nvarchar](max) NULL,
	[MaxScore] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AssessmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 5/16/2025 9:56:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[CourseId] [uniqueidentifier] NOT NULL,
	[Title] [varchar](100) NOT NULL,
	[Description] [varchar](100) NULL,
	[InstructorId] [uniqueidentifier] NULL,
	[MediaUrl] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Result]    Script Date: 5/16/2025 9:56:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Result](
	[ResultId] [uniqueidentifier] NOT NULL,
	[AssessmentId] [uniqueidentifier] NULL,
	[UserId] [uniqueidentifier] NULL,
	[Score] [int] NULL,
	[AttemptDate] [datetime] NULL,
 CONSTRAINT [PK_Result] PRIMARY KEY CLUSTERED 
(
	[ResultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserModel]    Script Date: 5/16/2025 9:56:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserModel](
	[UserId] [uniqueidentifier] NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Role] [varchar](20) NULL,
	[PasswordHash] [varchar](225) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Assessment] ([AssessmentId], [CourseId], [Title], [Questions], [MaxScore]) VALUES (N'fb469aa2-ff5f-44ef-af72-222b8a735e9a', N'4f69b2f7-b9e2-4451-bee7-aafa7ce9d532', N'Term - 1 Assessment', N'30', 100)
INSERT [dbo].[Assessment] ([AssessmentId], [CourseId], [Title], [Questions], [MaxScore]) VALUES (N'3fa85f64-5717-4562-b3fc-2c963f66afa6', N'0baf900f-43dd-4c85-ad68-b1004e4bc003', N'Mid Term-1', N'30', 60)
GO
INSERT [dbo].[Course] ([CourseId], [Title], [Description], [InstructorId], [MediaUrl]) VALUES (N'925f9b4d-7dbd-4965-a044-86a9969c6ed0', N'C#', N'C Sharp', N'5bcc2645-35ec-4c87-a953-481d21f05f5f', N'csijfasdaps')
INSERT [dbo].[Course] ([CourseId], [Title], [Description], [InstructorId], [MediaUrl]) VALUES (N'4f69b2f7-b9e2-4451-bee7-aafa7ce9d532', N'Class 10th Mathematics', N'Special preparation for boards', N'b9092b4a-0c0c-4b5d-94b7-e59e2a788474', N'strinnfjdbsf.g')
INSERT [dbo].[Course] ([CourseId], [Title], [Description], [InstructorId], [MediaUrl]) VALUES (N'0baf900f-43dd-4c85-ad68-b1004e4bc003', N'Engineering Mathematics', N'Maths for 2nd yr Btech', N'7d05929f-1052-4b37-9ecd-334c83ed524e', N'www.fjdijf.com')
GO
INSERT [dbo].[Result] ([ResultId], [AssessmentId], [UserId], [Score], [AttemptDate]) VALUES (N'54942cdd-deb7-48f5-82f7-c24fe264f09a', N'3fa85f64-5717-4562-b3fc-2c963f66afa6', N'5bcc2645-35ec-4c87-a953-481d21f05f5f', 59, CAST(N'2025-04-15T06:03:49.613' AS DateTime))
INSERT [dbo].[Result] ([ResultId], [AssessmentId], [UserId], [Score], [AttemptDate]) VALUES (N'ea4af2dd-fe6d-46ed-ac9f-fc28f8011e8f', N'fb469aa2-ff5f-44ef-af72-222b8a735e9a', N'5bcc2645-35ec-4c87-a953-481d21f05f5f', 90, CAST(N'2025-05-15T10:36:03.593' AS DateTime))
GO
INSERT [dbo].[UserModel] ([UserId], [Name], [Email], [Role], [PasswordHash]) VALUES (N'7d05929f-1052-4b37-9ecd-334c83ed524e', N'Anoop Sharma', N'shanoop2000@gmail.com', N'Student', N'qwerty321+-=')
INSERT [dbo].[UserModel] ([UserId], [Name], [Email], [Role], [PasswordHash]) VALUES (N'5bcc2645-35ec-4c87-a953-481d21f05f5f', N'Raghav Saxena', N'saxenaraghav2003@gmail.com', N'Student', N'djfsdif=')
INSERT [dbo].[UserModel] ([UserId], [Name], [Email], [Role], [PasswordHash]) VALUES (N'b9092b4a-0c0c-4b5d-94b7-e59e2a788474', N'kk sharma', N'teach@gmail.com', N'Instructor', N'kdjfshdshdi=dsfd')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UserMode__A9D10534F75F0D55]    Script Date: 5/16/2025 9:56:24 AM ******/
